build
SDL
01-helloworld/CMakeLists.txt.user
build-HelloWorld-Desktop-Debug
11-simple-SDL-version/CMakeLists.txt.user
12-windowed-SDL-version/CMakeLists.txt.user
build-12-windowed-SDL-version-Desktop-Debug/
21-SDL-loop/CMakeLists.txt.user
22-SDL-engine-static/CMakeLists.txt.user
23-SDL-engine-shared/CMakeLists.txt.user
24-SDL-hot-reload/CMakeLists.txt.user
build-24-SDL-hot-reload-Desktop-Debug
30-render-basic/CMakeLists.txt.user
build-30-render-basic-Desktop-Debug/
30-render-basic/cmake-build-debug/
30-render-basic/.idea/
build-41-opengl-clear-Desktop-Debug/
41-opengl/CMakeLists.txt.user
41-opengl/.idea/
41-opengl/cmake-build-debug/
51-simple-morphing/.idea/
51-simple-morphing/cmake-build-debug/
52-matrices/.idea/
52-matrices/cmake-build-debug/
53-move-knight/.idea/
53-move-knight/cmake-build-debug/
Test/

	

